* {
    font-family: 'Roboto', Helvetica, sans-serif;
    line-height: 1.5;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    font-size: 100%;
}

a:focus,
button:focus,
input:focus,
textarea:focus {
    outline: none;
}

.f-right {
    float: right;
}

.clearfix {
    clear: both;
}

.btn {
    text-decoration: none;
    padding: 10px 15px;
}

.btn-rounded {
    border-radius: 5px;
}

.btn-primary {
    background-color: #ecc21a;
    color: #333447;
}

nav {
    position: fixed;
    width: 100%;
    z-index: 10000;
}

nav .topbar {
    background-color: #ecc21a;
    width: 100%;
    height: 40px;
}

.topbar a {
    padding: 10px;
    color: #333447;
}

nav .navbar {
    background-color: #fff;
    color: #333447;
    width: 100%;
    height: 100px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
}

ul.nav-link {
    float: right;
    list-style-type: none;
}

ul.nav-link li {
    font-weight: 400;
    font-size: 1.1em;
    padding: 10px;
    line-height: 3.8;
    display: inline;
}

ul.nav-link li a {
    display: inline;
    text-decoration: none;
    color: #333447;
}

ul.nav-link li.active a {
    color: #ecc21a;
    font-weight: 700;
}

.brand-icon {
    background-image: url('../images/brand-logo.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px;
    width: 80px;
    height: 80px;
}

.brand-text {
    display: none;
    background-image: url('../images/brand.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 80px;
    width: 295px;
    margin: 10px;
}

.nav-mobile {
    display: block;
    position: absolute;
    right: 35px;
    top: 35px;
    color: #333447;
    border: 1px solid transparent;
    padding: 9px 10px;
}

@media (max-width: 768px) {
    .nav-link li:not(.nav-mobile) {
        background-color: #fff;
        padding-left: 30px;
        padding-right: 60px;
        display: none;
        line-height: 1;
        border-bottom: 1px solid #ccc;
    }

    ul.nav-link {
        padding-inline-start: 0;
        margin-top: 100px;
        margin-right: 20px;
    }
    
}

@media (min-width: 768px) {
    .brand-text {
        display: block;
    }
    .brand-icon {
        display: none;
    }

    .nav-mobile {
        display: none;
    }
}

div.bagan {
    padding: 30px 0;
}

main {
    padding-top: 135px;
}

.img-hero {
    max-width: 100%;
}

.post {
    margin-top: 60px;
}
.post-image {
    max-width: 100%;
    display: block;
    min-width: 260px;
    border: 3px solid #fff;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.post-title {
    margin-top: 10px;
    font-size: 32px;
    font-weight: 400;
    padding-top: 10px;
}

.post-part .post-content {
    text-align: justify;
}

.post-gallery {
    margin: 15px auto;
    height: 180px;
    max-width: 100%;
}

.post-gallery>.photo {
    border: 3px solid #fff;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 170px;
    margin-top: 10px;
    min-width: 200px;
    max-width: 260px;
}

@media (min-width: 768px) {
    .post-gallery>.photo {
        height: 150px;
        max-width: 230px;
    }
}

@media (min-width: 992px) {
    .post-gallery>.photo {
        height: 180px;
        min-width: 200px;
        max-width: 260px;
    }
}

.show-more {
    padding: 20px;
    font-weight: 700;
    text-align: center;
}

.show-more a {
    color: #ecc21a;
    text-decoration: none;
}

footer>.content {
    color: #fff;
    background-color: #333;
    padding: 20px 0;
}

.footer {
    line-height: 0.5;
    font-weight: 500;
}

.footer-link>a {
    line-height: 2;
    display: block;
    color: #fff;
    text-decoration: none;
}

.copyright {
    background-color: #000;
    height: 35px;
}

.copyright, .copyright a {
    padding-top: 5px;
    text-decoration: none;
    color: #333447;
}

button#btn-top {
    display: none;
    background-color: #fff;
    color: #333;
    width: 40px;
    height: 40px;
    z-index: 10000;
    position: fixed;
    bottom: 20px;
    right: 30px;
    border: 3px solid #333447;
}

.form-container {
    padding: 20px 0;
}

.form-group>label {
    margin: 5px;
}

.form-group>input, .form-group>select, .form-group>textarea {
    padding: 5px;
    width: 100%;
    margin-bottom: 10px;
}

input[type="submit"], button {
    outline: none;
    border: none;
    cursor: pointer;
}

.table-container {
    padding-top: 50px;
    overflow: auto;
    width: 100%;
}

table.table-data {
    border-collapse: collapse;
}

table.table-data thead tr td,
table.table-data tbody tr td {
    padding: 10px;
    border: 1px solid #333;
}

.table-data thead td:nth-child(1) {
    width: 25px;
}

.table-data thead td:nth-child(2) {
    width: 220px;
}

.table-data thead td:nth-child(3) {
    width: 250px;
}

.table-data thead td:nth-child(4) {
    width: 100px;
}

.table-data thead td:nth-child(5) {
    width: 300px;
}

